@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: ghostwhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, content, and footer */
  min-height: 100vh;
}

main {
  flex: 1; /* Allow the main content to grow and push the footer down */
}

