@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: ghostwhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, content, and footer */
  min-height: 100vh;
}

main {
  flex: 1; /* Allow the main content to grow and push the footer down */
}

.modal {
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: 10vh;
  left: calc(100% - 20rem);
  width: 20rem;
  max-height: 60vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-down-fade-in 300ms ease-in-out forwards;
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}